@model weddingWebapp.Models.Regalo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Regalo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRegalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRegalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoRegalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoRegalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionRegalo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionRegalo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRegalo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
