
@model weddingWebapp.Models.MailModel
@{
    ViewData["Title"] = "Matrimonio Makarena y Raimundo";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrimonio M&R</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <link href="https://fonts.cdnfonts.com/css/felix-titling" rel="stylesheet">


<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " href="/Home/Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active "aria-current="page" href="/Home/Regalos">Regalos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Ubicacion">Ubicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/Home/Login">Administración</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>



    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/img/newbanner.jpg">
        <h3 class=" align-content-center d-flex justify-content-center cool-font">Lista de regalos</h3>

    </div>



    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 ">Muchas gracias por tu regalo</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12" style="max-height: 530px; overflow: hidden;">
                <img src="@ViewBag.rutaImagen" alt="Image" class="img-fluid" style="width : 100%;">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    
                    <h3 class="tm-text-gray-dark mb-3">@ViewBag.titulo_producto</h3>
                    <p class="mb-4">
                        @ViewBag.descripcion_producto
                    </p>
                    
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-12 mb-5 mx-auto">
                <h2 class="mb-5">Datos de contacto</h2>
            <p>Completa la información para poder proceder con el pago</p>


             <hr />
             <div class="row">
                 <div class="col-12">
                     <form asp-action="Regalo">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                         <div class="form-group @ViewBag.precioVisible ">
                            <label asp-for="NombreRegalo" class="form-label">Cual es tu regalo?</label>
                            <input asp-for="NombreRegalo" class="form-control" value="@ViewBag.titulo_producto" />
                            <span asp-validation-for="NombreRegalo" class="text-danger"></span>
                        </div>



                         <div class="form-group">
                            <label asp-for="Nombre" class="form-label">Nombre</label>
                            <input asp-for="Nombre" class="form-control" />
                             <span asp-validation-for="Nombre" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                            <label asp-for="Email" class="form-label">Correo</label>
                             <input asp-for="Email" class="form-control" />
                             <span asp-validation-for="Email" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                            <label asp-for="Nota" class="form-label">Nota</label>
                             <input asp-for="Nota" class="form-control" />
                             <span asp-validation-for="Nota" class="text-danger"></span>
                         </div>

                         <div class="form-group @ViewBag.precioVisible ">
                             <label asp-for="Monto" class="form-label">Monto del regalo</label>
                             <input asp-for="Monto" class="form-control" value="@ViewBag.costo" />
                             <span asp-validation-for="Monto" class="text-danger"></span>
                          </div>

                        

                         <div class="form-group">
                             <input type="submit" value="Regalo" class="btn btn-primary" />
                         </div>



                     </form>
                 </div>
             </div>    
    </div> 
    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            
        </div>
    </footer>
    
    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>