@model IEnumerable<weddingWebapp.Models.Ordenregalo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoRegalo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoRegalo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrdenRegalo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOrdenRegalo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrdenRegalo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
